header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
}

.logo {
  font-size: 25px;
  font-weight: 600;
  color: #8a4baf;
}

.link {
  display: flex;
  gap: 2rem;
}

.link a {
  text-decoration: none;
  color: #333;
  transition: 0.3s;
}

.link a:hover {
  color: #8a4baf;
}

.search-bar {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.search-bar input {
  width: 600px; 
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
  outline: none;
}

.search-bar input:focus {
  border-color: #8a4baf;
  box-shadow: 0 0 4px rgba(138, 75, 175, 0.4);
}

.search-bar button {
  padding: 10px 20px;
  background-color: #8a4baf;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.search-bar button:hover {
  background-color: #723b8c;
}

@media (max-width: 768px) {
  .search-bar {
    flex-direction: column;
    gap: 10px;
  }

  .search-bar input {
    width: 100%; 
  }
}
